<div class="albums">
  <% @albums.each do |album| %>
    <section class="album">
        <div class="metadata">
            <div class="date">
                <%= album.created_at %>
            </div>
        </div>
        <%= image_tag album.header_image, class: 'main-image' %>
        <div class="tags">
            <%= album.description %>
        </div>
    </section>
  <% end %>
</div>

<% if user_signed_in? %>
    <%= link_to 'New Album', new_album_path %>
<% else %>
    <%= button_to "Sign in", new_user_session_path %>
<% end %>