<%= form_with(model: album, local: true) do |form| %>
    <% if album.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>
        
            <ul>
                <% album.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label "Name of Album" %>
        <%= form.text_field :description %>
    </div>

    <% if album.new_record? %>
        <div class="form-group">
            <%= form.label :header_image %>
            <%= form.file_field :header_image %>
        </div>
        <div class="form-group">
            <%= form.label :images %>
            <%= form.file_field :images, multiple: true %>
        </div>
        <div class="form-group">
            <%= form.text_field :user_id, value: current_user.id, class:'d-none'%>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    
<% end %>