<div class = "links">
  <%= link_to 'Back', root_path, class: 'link' %>
  <%= link_to 'Upload new images', edit_album_path, class: 'link' %>
</div>

<h1><%= @album.description %></h1>

<div class="gallery" id="gallery">
  <% @album.images.each do |image| %>
    <div class="mb-3 pics all 2">
        <%= image_tag @album.image_resize(image.id), class: 'rounded gallery-image' %>
        <div class="caption">
          <ul class="metadata">
            <li><%= image.metadata['width'] %> x <%= image.metadata['height'] %></li>
            <li><%= image.created_at %></li>
          </ul>
          <%= button_to "Remove", 
            delete_image_attachment_album_path(image), 
            method: :delete, 
            data: {confirm: "Are you sure?"},
            class: 'gallery-link' %>
        </div>
    </div>
  <% end %>
</div>