<!DOCTYPE html>
<html>
  <head>
    <title>PichaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <%= fa_stacked_icon "camera"%>
            PichaBox
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-sign-in">Log in</i>
            </a>
          <% end %>
      </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 620px;; padding-top: 20px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <p> © 2019 s278gupt </p>
      </nav>
    </footer>
  </body>
</html>